* {
  margin: 0;
  padding: 0;
}

:root {
  --max-width: 1280px;
  --main-color: #ffbc00;
  --light-color: #f4f4f4;
  --medium-color: #ccc;
  --dark-color: #333;
}

body {
  font-family: "Dosis", serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
  display: inline-block;
  padding: 8px 30px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  
  
}

#header-home {
  width: 100%;
  height: 694px;
  background: url(./img/showcase.jpg) no-repeat center center/contain;
  background-size: cover;
}

#logo {
  width: 60px;
  padding-left: 200px;
  padding-top: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  margin-right: 283px;
  padding-top: 16px;
  font-weight: 400;
}

.current {
  border-bottom: #ffbc00 3px solid;
  text-decoration-color: #ffbc00;
  padding: 8px;
}
a:hover {
  border-bottom: #fff 3px solid;

  padding: 8px;
}
.about {
  color: var(--light-color);
}

ul li {
  padding-right: 50px;
  list-style: none;
  font-weight: 600;
}

.header-content {
  display: grid;
  justify-content: center;
  margin: 140px;
  margin-left: 112px;
}

.header-content h1 {
  font-size: 45px;
  font-weight: 600;
  color: var(--light-color);
}

.header-content p {
  text-align: center;
  color: var(--light-color);
}

.header-content button {
  width: 135px;
  padding: 10px;
  margin-left: 75px;

  border-color: white;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content .btn-light {
  color: var(--dark-color);
  font-size: 13px;
  font-weight: 600;
}

.section-titel {
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.bottom-line {
  background-color: var(--main-color);
  width: 40px;
  height: 3px;
    margin-left: 60px;
  margin-bottom: 10px;
}

.lead {
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}

.btn-light:hover {
  background-color: var(--main-color);
  color: var(--light-color);
  border: none;
}
.btn-two{
  display: grid;
  justify-content: center;
  align-items: center;
}
.specials {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.specials div {
  width: 260px;
  margin-left: 43px;
  text-align: center;
  color: var(--dark-color);
}

.specials i {
  color: var(--main-color);
}

.specials h3 {
  color: var(--dark-color);
  font-weight: 600;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  margin-bottom: 50px;
}

.stats div {
  padding-top: 45px;
  padding-bottom: 45px;
  
  align-items: center;
  line-height: 2.5;
  text-align: center;
  
}

.stats .dark {
  background-color: var(--medium-color);
  text-align: center;
}

.stats .light {
  background-color: #faf8f8;
}

.stats ul {
  display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0 !important; 
     
}

.stats-title3 {
  white-space: nowrap;
}


.stats-number {
  font-size: 20px;
}

.title {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title h1 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
}

.bottom-line-two {
  background-color: var(--main-color);
  width: 40px;
  height: 2px;
  margin-left: 114px;
  margin-bottom: 10px;
}
#home-c .btn-three{
  display: grid;
  justify-content: center;
  align-items: center;
}
#home-c .procces {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px 276px;
}

.procces div {
  text-align: center;
  margin-left: 15px;
}

#home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  background: #ffbc00;
  color: #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  line-height: 10px;
  padding: 1rem;
  transition: all 1s;
}

#home-c .process-icon {
  border-radius: 50%;
  background: #333;
  color: #fff;
  padding: 2rem;
  font-size: 46px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  transition: all 1s;
}

#home-c .process-icon:hover {
  background: #ffbc00;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

#home-c .process-icon:hover .process-step {
  background: #333;
  color: #fff;
}

.procces div h3 {
  margin: 40px 0 0 0;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

/* About Bage */

.procces div {
  font-size: 16px;
}

.footer-content {
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.footer-content .social .fab {
  margin-left: 15px;
  padding: 7px;
  border-radius: 50px;
  border: #fff 2px solid;
}

.footer-content .fab:hover {
  background: #ffbc00;
}

@media (max-width: 1024px) {
  #logo {
    width: 60px;
    padding-left: 134px;
    padding-top: 5px;
  }

  ul {
    margin-right: 77px;
    padding-top: 14px;
  }

  .btn-light {
    left: 418px;
  }

  

  .specials div {
    width: 191px;
    margin-left: 22px;
    font-size: 14px;
  }

  

    #home-c .procces {
    margin: 0;
  }

  .procces p {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  #header-home {
    width:800px;
  }
  nav {
    justify-content: space-around;
  }
  #logo {
    padding-left: 40px;
  }
  .header-content {
    margin-left: 132px;
  }
  .btn-light {
    left: 337px;
  }

  .container {
    width:800px;
  }

  .text-center {
    width:800px;
  }

  
  ul {
    margin-right: 2px;
  }
  ul li {
    padding-right: 40px;
  }
 
  #home-c .procces {
    width:800px;
    margin: 0;
  }
  .footer-content {
    width:800px;
  }
}

@media (max-width: 500px) {
  .header-content,
  .btn-light {
            visibility: hidden;
              width: 100%;
              margin: 0;
              left: 0;
              padding: 0;
  }
  #header-home {
    width: 100%;
    
    height: 130px;
    border-bottom: 2px solid var(--main-color);
  }
  nav {
    display: grid;
  }
  #logo {
    padding-left: 154px;
    width: 76px;
    margin-left: 0px;
  }
    nav ul {
      padding-top: 5px;
      
    }
  ul .cut{
    padding-right: 0;
  }
               .container {
                   width: 100%;
                 }
  .section-titel {
    font-size: 23px;
  }
  .bottom-line {
    height: 3px;
    
  }
  .current {
    border-bottom: 2px solid var(--main-color);
  }
  .lead {
    padding: 0 29px;
  }
  .specials {
    display: grid;
  }
  .specials div {
    width: 271px;
    margin-left: 0px;
    font-size: 15px;
    padding-bottom: 20px;
  }
  .stats {
    display: grid;
      grid-template-columns: 100%
  }
.stats ul{
  font-size: large;
}
.stats div {
        width: 100%;
  padding-left: 0px;
}

  .text-center {
    width: 100%;
      
  }
  #home-c .procces {
    width: 100%;
    margin: 0;
    display: grid;
  }
    .procces div {
      
      margin-left: 0;
      padding-bottom: 50px;
    }
  
    .procces p {
      font-size: 20px;
    }
  .footer-content {
    width: 100%;
    display: grid;
  }
  .social{
    padding-top: 20px;
  }
}
